// Bootstrap Theming Override
//$primary: #a44d82;
//$secondary: #4DA36E;
$primary: #44AAFD;
$secondary: #FD9843;

$facebook: #3b5998;
$google: #dc3545;
$twitter: #657786;

// scss-docs-start theme-colors-map
$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    #198754,
        "info":       #0dcaf0,
        "warning":    #ffc107,
        "danger":     #dc3545,
        "light":      #E4F3FF,
        //"light":      #C8E0D4,
        "dark":       #212529,
        "facebook":   $facebook,
        "google":     $google,
        "twitter":    $twitter,
        "light-green":#DBEBE3
);

@import "~bootstrap/scss/bootstrap";

$headerHeight: 74px;